<h1>Hello, Rails!</h1>
<!--<%= link_to 'My Blog', controller: 'articles' %>-->
<%= link_to 'My Blog' , articles_path %>
<%= link_to 'New article', new_article_path %>
<%= link_to 'Back', articles_path %>
<%= link_to 'Ember Test', welcome_embertest_path %>